<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>SNFRVIPAD_VR.249</string>
	<key>CFBundleIdentifier</key>
	<string>com.luxion.widget.SNFRVIPADVR</string>
	<key>CFBundleName</key>
	<string>SNFRVIPADVR</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MainHTML</key>
	<string>SNFRVIPAD_VR.249.html</string>
	<key>Height</key>
	<integer>1536</integer>
	<key>Width</key>
	<integer>2048</integer>
</dict>
</plist>
